@page "/"

<div>
    <button class="button-yellow" @onclick="AddMonkey">Add New Monkey</button>

    @if (monkeys is null)
    {
        <p><em>Loading monkeys...</em></p>
    }
    else
    {
        <ul class="card-list">
            @foreach (var monkey in monkeys)
            {
                <li @onclick="()=>GoToDetails(monkey)" class="card-item">
                    <img class="card-image" src="@monkey.Image">
                    <div class="card-content">
                        <h2>@monkey.Name</h2>
                        <p>@monkey.Location</p>
                    </div>
                </li>
            }
        </ul>
    }
</div>
