@page "/"
@inject MonkeyService monkeyService

@if (monkeys is null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div>
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var monkey in monkeys)
                {
                    <tr>
                        <td>
                            <img src="@monkey.Image" alt="@monkey.Name" style="width: 100px; height: 100px;" />
                        </td>
                        <td>
                            <strong>@monkey.Name</strong>
                            <p>@monkey.Location</p>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    private List<Monkey> monkeys = [];

    protected override async Task OnInitializedAsync()
    {
        monkeys = await monkeyService.GetMonkeys();
    }
}
